In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv("tested_data.csv", sep=';')
data

          n     array_type sorting_type      time
0      1000         random        quick    107250
1      2000         random        quick    231208
2      3000         random        quick    360125
3      4000         random        quick    500458
4      5000         random        quick    641709
..      ...            ...          ...       ...
595   96000  almost_sorted        intro  43728875
596   97000  almost_sorted        intro  43507916
597   98000  almost_sorted        intro  43490125
598   99000  almost_sorted        intro  43584291
599  100000  almost_sorted        intro  43518333

[600 rows x 4 columns]

In [4]:
random_arrs = data[data["array_type"] == "random"]
random_arrs

          n array_type sorting_type      time
0      1000     random        quick    107250
1      2000     random        quick    231208
2      3000     random        quick    360125
3      4000     random        quick    500458
4      5000     random        quick    641709
..      ...        ...          ...       ...
395   96000     random        intro  16424334
396   97000     random        intro  16436958
397   98000     random        intro  16426083
398   99000     random        intro  16428084
399  100000     random        intro  16426833

[200 rows x 4 columns]

In [5]:
quicks = random_arrs[random_arrs["sorting_type"] == "quick"]
intros = random_arrs[random_arrs["sorting_type"] == "intros"]